<!-- {{title}}<br> -->
<!-- Company Name : {{company? company.Name:'Not found'}}<br>
Company City: {{company? company.City : 'Not Found'}}<br>
Company Job: {{company? company.Job : 'Not Found'}}<br>
Company Type: {{company? company.type: 'Not Found'}} -->
<!-- <h1>I am parent component</h1> -->
<!-- <app-child></app-child> -->
<!-- <app-childofchild></app-childofchild> -->
<!-- <h1>Parent component</h1>
<input type="text" #Pcomponent (keyup)="0">

<app-child [pdata]="Pcomponent.value"></app-child> -->
<h1 style="text-align:center">Binding in Angular..!!!</h1>
<h1 style="background-color: blue;color:orange;text-align:center">Interpolation</h1>
<h1 style="text-align: center;">{{title}}</h1>
<h1 style="background-color: rgb(0, 255, 98);color:rgb(60, 0, 255);text-align:center">OneWay-Property Binding</h1>
<h1 style="text-align: center;" [innerHTML]="msg"></h1>
<h1 style="background-color: rgb(61, 171, 105);color:rgb(60, 0, 255);text-align:center">OneWay Event Binding</h1>
<button style="text-align: center;" (click)="onchange()">click-Me</button>
<h1 style="text-align: center;">{{msg1}}</h1>
<h1 style="background-color: rgb(61, 171, 105);color:rgb(60, 0, 255);text-align:center">TwoWay Binding</h1>
<h1 [(ngModel)]="binding"></h1>
{{binding}}



